<html>
    <head>
        {% if title %}
        <title>{{ title }} - jmquiz-editor</title>
        {% else %}
        <title>Welcome to jmquiz-editor</title>
		{% endif %}
		<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    </head>
    <body>
        <div>
            jmquiz-editor:
			<a href="{{ url_for('index') }}">Home</a>
			{% if current_user.is_anonymous %}
			<a href="{{ url_for('login') }}">Login</a>
			{% else %}
			<a href="{{ url_for('logout') }}">Logout</a>
			{% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>