{% extends "base.html" %}

{% block content %}
<script>
$(document).ready(function(){

	// Changement de langue
	$('#languages_id').on('change', function() {
		$('#current_language').val($(this).val())
		$('#categories').submit()
	});

	// Marquage d'un élément modifié
	$('input').on('input', function() {
		var id = $(this).attr("id").replace("input_", "")
		$("#label_" + id).show();
	});
}); 
</script>

<h1>Categories</h1>
	<div style="margin-bottom: 10px;">
		<label>Choose a language</label>
		<select name="languages" id="languages_id">
		{% for language in languages %}
			{% if language.id == currentLanguage %}
			<option selected="selected" value="{{language.id}}">{{language.label}}</option>
			{% else %}
			<option value="{{language.id}}">{{language.label}}</option>
			{% endif %}
		{% endfor %}
		</select>
	</div>

<form id="categories" method="POST" action="/categories">
	<input type="hidden" value="{{currentLanguage}}" name="current_language" id="current_language"/>
</form>
<table>
	{% for category in categories %}
	<tr>
		<td>
			<form method="POST" action="/categories/update">
				<input type="hidden" value="{{category.id}}" name="category_id"/>
				<input type="hidden" value="{{currentLanguage}}" name="current_language"/>
				<label id="label_{{category.id}}" style="display: none;">*</label>
				<input id="input_{{category.id}}" type="text" value="{{category.label}}" name="label"/>
				<input type="submit" value="Update"/>
			</form>
		</td>
		{% if not category.is_referential %}
		<td>
			<form method="POST" action="/categories/delete">
				<input type="hidden" value="{{category.id}}" name="category_id">
				<input type="hidden" value="{{currentLanguage}}" name="current_language"/>
				<input type="submit" value="Delete">
			</form>
		</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
<table>
	<tr>
		<td>New category</td>
		<td>
			<form method="POST" action="/categories/update">
				<input type="hidden" name="category_id">
				<input type="hidden" value="{{currentLanguage}}" name="current_language"/>
				<input type="text" name="label">
				<input type="submit" value="Add">
			</form>
		</td>
	</tr>
</table>
{% endblock %}