{% extends "base.html" %}

{% block content %}
<script>
	$(document).ready(function(){
		
		$("#cancel").on("click", function() {
			var url = "{{ url_for('questions')}}" + "?current_language={{ language.id }}";

			$( location ).attr("href", url);
		});

		$("#valid_question").on("click", function() {
			var error = "";
			// Label
			if ($("#label_question").val() == "") {
				error += "You must add a label!\n";
			}
			// Answers
			if ($("#answer1").val() == "" || $("#answer2").val() == ""
				|| $("#answer3").val() == "" || $("#answer4").val() == "") {
				error += "You must add 4 answers!\n";
			}
			// Correct
			if (typeof ($('input[name="correct"]:checked').val()) == "undefined") {
				error += "You must choice correct answer!\n";
			}


			if (error != "") {
				alert(error);
				return false;
			}
		});
	}); 
</script>
<h1>Edit a question</h1>

<datalist id="answers">
	{% for answer in answers %}
		{% if answer.id == question.answer_correct %}
		<option value="{{ answer.label }}" selected="selected" />
		{% else %}
		<option value="{{ answer.label }}">{{ answer.label }}</option>
		{% endif %}
	{% endfor %}
</datalist>

<form action="/questions/validquestion/" method="POST">
	<input type="hidden" name="question_id" value="{{ question.id }}" />
	<input type="hidden" name="current_language" value="{{ language.id }}" />
	<label >Language : {{ language.label }}</label><br/>
	<table style="width: 90%; margin: 10px;"> 
		<tbody>
			<tr>
				<td colspan="2">Label</td>
			</tr>
			<tr>
				<td colspan="2">
					<textarea name="label_question" id="label_question" style="width: 90%;" >{{ question.label }}</textarea>
				</td>
			</tr>
			<tr>
				<td>
					<label for="categories">Category</label>
					<select name="categories" id="categories" style="width: 90%;">
						{% for category in categories %}
							{% if category.id == question.category_id %}
						<option value="{{ category.id }}" selected="selected">{{ category.label }}</option>
							{% else %}
						<option value="{{ category.id }}">{{ category.label }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
				<td>
					<label for="forces">Forces</label>
					<select name="forces" id="forces" style="width: 90%;">
						{% for force in forces %}
							{% if force.id == question.force_id %}
						<option value="{{ force.id }}" selected="selected">{{ force.label }}</option>
							{% else %}
						<option value="{{ force.id }}">{{ force.label }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;">Answers - {{ question.answer_correct }}</td>
			</tr>
			<tr>
				<td>
					{% if question.answer_correct > 0 and question.answer_correct == question.answer1_id %}
					<input name="correct" id="correct_1" type="radio" value="1" checked="checked" />
					{% else %}
					<input name="correct" id="correct_1" type="radio" value="1" />
					{% endif %}
					<input list="answers" name="answer1" id="answer1" style="width: 90%;" value="{{ question.getAnswer1Str() }}" />
					
				</td>
				<td>
					{% if question.answer_correct > 0 and question.answer_correct == question.answer2_id %}
					<input name="correct" id="correct_2" type="radio" value="2" checked="checked" />
					{% else %}
					<input name="correct" id="correct_2" type="radio" value="2" />
					{% endif %}
					<input list="answers" name="answer2" id="answer2" style="width: 90%;" value="{{ question.getAnswer2Str() }}" />
				</td>
			</tr>
			<tr>
				<td>
					{% if question.answer_correct > 0 and question.answer_correct == question.answer3_id %}
					<input name="correct" id="correct_3" type="radio" value="3" checked="checked" />
					{% else %}
					<input name="correct" id="correct_3" type="radio" value="3" />
					{% endif %}
					<input list="answers" name="answer3" id="answer3" style="width: 90%;" value="{{ question.getAnswer3Str() }}" />
				</td>
				<td>
					{% if question.answer_correct > 0 and question.answer_correct == question.answer4_id %}
					<input name="correct" id="correct_4" type="radio" value="4" checked="checked" />
					{% else %}
					<input name="correct" id="correct_4" type="radio" value="4" />
					{% endif %}
					<input list="answers" name="answer4" id="answer4" style="width: 90%;" value="{{ question.getAnswer4Str() }}" />
				</td>
			</tr>
			<tr style="margin: 10em;">
				<td  style="text-align:center;">
					<input type="submit" name="valid_question" id="valid_question" value="Update" />
				</td>
				<td  style="text-align:center;">
					<input type="button" name="cancel" id="cancel" value="Cancel"   />
				</td>
			</tr>
		</tbody>
	</table>
</form>

{% endblock %}