{% extends "base.html" %}
{% block content %}
<h1>Hi, {{ current_user.username }}!</h1>
<ul>
	<li><a href="{{ url_for('languages') }}">Languages</a></li>
	<li><a href="{{ url_for('categories') }}">Categories</a></li>
	<li><a href="{{ url_for('forces') }}">Forces</a></li>
	<li><a href="{{ url_for('answers') }}">Answers</a></li>
	<li><a href="{{ url_for('questions') }}">Questions</a></li>
	<li><a href="{{ url_for('getQuestions', languageid = languageid, lastsynchro = current_datetime) }}">Get questions</a></li>
</ul>
{% endblock %}