{% extends "base.html" %}

{% block content %}
<script>
$(document).ready(function(){

	// Changement de langue
	$('#languages_id').on('change', function() {
		$('#current_language').val($(this).val())
		$('#categories').submit()
	});
	
	// Marquage d'un élément modifié
	$('input').on('input', function() {
		var id = $(this).attr("id").replace("input_", "")
		$("#label_" + id).show();
	});
}); 
</script>

<h1>Languages</h1>
<table>
	{% for language in languages %}
	<tr>
		<td>
			<form method="POST" action="/languages/update">
				<input type="hidden" value="{{language.id}}" name="language_id">
				<label id="label_{{language.id}}" style="display: none;">*</label>
				<input id="input_{{language.id}}" type="text" value="{{language.label}}" name="label">
				<input type="submit" value="Update">
			</form>
		</td>
		{% if not language.is_referential %}
		<td>
			<form method="POST" action="/languages/delete">
				<input type="hidden" value="{{language.id}}" name="language_id">
				<input type="submit" value="Delete">
			</form>
		</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
<table>
	<tr>
		<td>New language</td>
		<td>
			<form method="POST" action="/languages/update">
				<input type="hidden" name="language_id">
				<input type="text" name="label">
				<input type="submit" value="Add">
			</form>
		</td>
	</tr>
</table>
{% endblock %}