{% extends "base.html" %}

{% block content %}
<script>
$(document).ready(function(){

	// Changement de langue
	$('#languages_id').on('change', function() {
		$('#current_language').val($(this).val())
		$('#questions').submit()
	});

	// Marquage d'un élément modifié
	$('input').on('input', function() {
		var id = $(this).attr("id").replace("input_", "")
		$("#label_" + id).show();
	});
}); 
</script>

<h1>Questions</h1>
	<div style="margin-bottom: 10px;">
		<label>Choose a language</label>
		<select name="languages" id="languages_id">
		{% for language in languages %}
			{% if language.id == currentLanguage %}
			<option selected="selected" value="{{language.id}}">{{language.label}}</option>
			{% else %}
			<option value="{{language.id}}">{{language.label}}</option>
			{% endif %}
		{% endfor %}
		</select>
	</div>

<form id="questions" method="POST" action="/questions">
	<input type="hidden" value="{{ currentLanguage }}" name="current_language" id="current_language"/>
</form>
<table>
	<thead>
		<tr>
			<th>Label</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2" align="center">
				<form action="/questions/edit/0?language={{ currentLanguage }}" method="POST">
					<input type="submit" id="add" value="Add" />
				</form>
			</td>
		</tr>
		{% for question in questions %}
		<tr>
			<td>
				<a href="/questions/edit/{{ question.id }}?language={{ currentLanguage }}">{{ question.label }}</a>
			</td>
			<td>
				<input type="button" id="delete_{{ question.id }}" value="Delete" />
			</td>
		</tr>
		{% endfor %}
		
	</tbody>
</table>
{% endblock %}